.center {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15vh;
}
h1{
    margin-top: 25px;
    font-size: 80px;
    color: #fff;
    animation: FlipTitle 1s;
    text-align: center;
}

@keyframes FlipTitle {
    from {
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#SearchLoading {
    display: none;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#SearchDefault{
    display: flex;
}
#ErrorSpan {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
    border: none;
    background-color: transparent;
  }

.containerInput{
    background-color: rgb(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 50%);
}
.containerInput textarea {
    background: transparent;
    border: none;   
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
    resize: none;
    overflow: hidden;
}
.containerInput textarea::placeholder {
    color: #f1f1f1;
}
.containerInput textarea:focus::placeholder{
    color: transparent;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}



.social {
    position: fixed;
    top: 95vh;
    left: 50%;
    transform: translate(-50%, -50% );
    width: auto;
    height: 5vh;
    display: flex;
    z-index: 3;
}
.icon{
    width: 5vh;
    height: 100%;
}
.github{
    background-image: url('./icons/github.ico');
    background-size: cover;
    background-repeat: no-repeat;
}
.github:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 7px rgba(240, 240, 240, 0.7));
}
.site{
    background-image: url('./icons/website.ico');
    background-size: cover;
    background-repeat: no-repeat;
}
.site:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 7px rgba(240, 240, 240, 0.7));
}

.resultError {
    width: 250px;
    height: auto;
    padding: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    cursor:col-resize;
}
.resultError span {
    text-align: center;
}
.posterError img {
    width: 100%;
}

/* MOVIE RESULTS */
.MovieResults{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 4fr 5fr;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(240, 240, 240, 0.7);
    width: min(1100px, 80%)
}
.MovieResults span{
    grid-column: 1/6;
    display: flex;
    justify-content: center;
}
.MovieResults a:nth-child(2){
    padding-top: 15px;
    grid-column: 1/6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 25px
}
.MovieResults a:nth-last-child(1){
    padding-top: 15px;
    grid-column: 1/6;
}
.MovieCard {
    width: 185px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.MovieCard:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.MovieCard img {
    height: 250px;
    z-index: 2;
    background: url(./icons/if-word-18-2875628_88181.png) no-repeat center #000;
    background-size: 185px;
}
.MovieCard p {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 185px;
}
.BtnPages{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
}
.BtnPages button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 20px;
    padding: 2px;
    cursor: pointer;
}
.BtnPages button:hover {
    transition: 0.2s;
    background-color: #1785eb;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px 0px #1785eb;
}
#here {
    background-color: #1785eb;
}

/* MOVIE DETAIS */
.MovieDetais {
    width: 500px;
    height: min(500px, 700px);
    overflow-y: scroll;
    position: fixed;
    z-index: 2;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    animation: MovieDetaisFrames 1s;
    
}
@keyframes MovieDetaisFrames {
    from {
        
        top: 0%;
    }
    to{
        
        top: 50%;
    }
    
}

.close {
    width: 100%;
    text-align: end;
    border: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    filter: drop-shadow(0px 1px 2px #000);
}
.close a{
    cursor: pointer;
    font-size: 25px;
}
.close a:hover {
    transition:  0.5s;
    transform: scale(1.1);
}
.centerInfo {
    height: auto;
    width: 100%;
    display: flex;
}
.centerInfo img {
    width: min(165px, 200px);
    height: 250px;
    margin-right: 5px;
    background: url(./icons/if-word-18-2875628_88181.png) no-repeat center #000;
    background-size: 185px;
}
.centerInfo img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.centerInfo a span{
    width: 200px;
    position: absolute;
    left: 5px;
    top: 15px;
    text-align: center;
    color: #000;
    text-decoration: none;
}
.centerInfo h2{
    padding-bottom: 15px;
    padding: 5px;
}
.centerInfo h2 button{
    background-color: transparent;
    border: none;
    cursor:copy;
}
.centerInfo h2 button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.centerInfo p{
    background-color: rgba(277, 277, 277, 0.9);
    padding: 2px;
    border-radius: 5px;
}
.centerInfo div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
.SearchCenterInfo {
    margin-inline: 15px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: none;
    background-color: rgba(194, 194, 194, 0.7);
    border-radius: 5px;
    cursor: pointer;
}
.SearchCenterInfo:hover{
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 1px #000;
}
#copyName {
    display: none;
    background-color: rgba(102, 236, 69, 0.9);
    top: 11%;
    left: 65%;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
    font-size: 15px;
    width: 150px;
    text-align: center;
}
.ButtomInfo {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}
.InfoOne{
    margin-top: 15px;
    grid-column: 1/5;
    text-align: center;
    
    
}

.InfoTwo{ 
    grid-column: 1/3;
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}
.InfoThree{
    grid-column: 3/5;
    grid-row: 2/2;
    display: flex;
    padding-inline: 10px;
    flex-direction: column;
}


@media (max-width: 1000px){
    h1{
        font-size: 60px;
    }
    .results {
        width: 80%;
    }
    .social {
        top: 95vh;
        left: 10%;
        height: 5vh;
        background-color: rgba(277, 277, 277, 0.7);
        border-radius: 5px;
        padding: 5px;
    }
    
}
@media (max-width: 600px){
    h1{
        font-size: 60px;
    }
    .MovieDetais{
        width: 90%;
        height: 80vh;
        overflow-y: scroll;
        
    }
    .centerInfo{
        display: flex;
        flex-direction: column;
    }
    .centerInfo a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .centerInfo a span{
        width: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 15px;
        text-align: center;
        color: #000;
        text-decoration: none;
    }
    .SearchCenterInfo {
        margin-top: 15px;
        width: 150px;
    }
    .close {
        padding-right: 5px;
        
    }
    .close a {
        font-size: 35px;
        height: 35px;
    }
    .movie:hover {
        transition: 0.5s;
        transform: none;
        
    }

    #ErrorSpan {
        text-align: center;
    }
    @keyframes ErrorSpanAnimation {
        0% {
            transform: scale(1.1);
            filter: drop-shadow(0px 0px 1px #ff0000);
        }
        50% {
            transform: scale(1.15);
            filter: drop-shadow(0px 0px 4px #ff0000);
        }
        100% {
            transform: scale(1.1);
            filter: drop-shadow(0px 0px 1px #ff0000);
        }
    }
    .teste{
        font-size: 25px;
        animation-name: ErrorSpanAnimation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    #ErrorSpan:focus a{
        transition: 1s;
        left: 0%;
    }
    #ErrorSpan a{
        left: -120%;
        position: relative;
    }



    
}
@media (max-width: 500px){
    h1{
        font-size: 50px;
    }

}
