.center {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15vh;
}
h1{
    font-size: 80px;
    color: #fff;
    animation: FlipTitle 1s;
    text-align: center;
    margin-top: 20vh;
}

@keyframes FlipTitle {
    from {
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgb(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 50%);
}
.containerInput input {
    background: transparent;
    border: none;   
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}
.containerInput input::placeholder {
    color: #f1f1f1;
}
.containerInput input:focus::placeholder{
    color: transparent;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}
.results {
    display: block;
    background-color: rgba(277, 277, 277, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.movie {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: baseline;
    align-content: center;
    flex-direction: column;
    margin-inline: 5px;
    color: #000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    cursor: pointer;
}
.movie:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: drop-shadow(10px 5px 15px #000);
}
.movie:focus{
    transform: rotateY(150deg);
}
.movie p{
    padding-bottom: 5px;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    padding-bottom: 5px;
}
.social {
    position: fixed;
    top: 95vh;
    left: 50%;
    transform: translate(-50%, -50% );
    width: auto;
    height: 5vh;
    display: flex;
}
.icon{
    width: 5vh;
    height: 100%;
}
.github{
    background-image: url('./icons/github.ico');
    background-size: cover;
    background-repeat: no-repeat;
}
.github:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 7px rgba(240, 240, 240, 0.7));
}
.site{
    background-image: url('./icons/website.ico');
    background-size: cover;
    background-repeat: no-repeat;
}
.site:hover {
    transition: 0.5s;
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 7px rgba(240, 240, 240, 0.7));
}

.resultError {
    width: 250px;
    height: auto;
    padding: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    
}
.resultError span {
    text-align: center;
}
.posterError img {
    width: 100%;
}

/* MOVIE DETAIS */
.MovieDetais {
    width: 500px;
    height: 500px;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    
}

.close {
    width: 100%;
    text-align: end;
    border: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    filter: drop-shadow(0px 1px 2px #000);
}
.close a{
    cursor: pointer;
    font-size: 25px;
}
.close a:hover {
    transition:  0.5s;
    transform: scale(1.1);
}
.centerInfo {
    height: auto;
    width: 100%;
    display: flex;
}
.centerInfo img {
    width: 200px;
    margin-right: 5px;
}
.centerInfo img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
.centerInfo a span{
    width: 200px;
    position: absolute;
    left: 5px;
    top: 15px;
    text-align: center;
    color: #000;
    text-decoration: none;
}
.centerInfo h2{
    padding-bottom: 15px;
    padding: 5px;
}
.centerInfo h2 button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.centerInfo h2 button:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.centerInfo p{
    background-color: rgba(277, 277, 277, 0.9);
    padding: 2px;
    border-radius: 5px;
}
.centerInfo div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
#copyName {
    display: none;
    background-color: rgba(102, 236, 69, 0.9);
    top: 11%;
    left: 65%;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
    font-size: 15px;
    width: 150px;
    text-align: center;
}
.ButtomInfo {
    width: 100%;
    height: 100%;
    display: flex;
    
}
.ButtomInfo a:first-child{
    padding: 5px 5px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ButtomInfo a:first-child span{
    padding: 5px 5px;
}
.ButtomInfo a:nth-last-child(1){
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1000px){
    h1{
        font-size: 60px;
    }
    .results {
        width: 80%;
    }
    .social {
        top: 95vh;
        left: 10%;
        height: 5vh;
        background-color: rgba(277, 277, 277, 0.7);
        border-radius: 5px;
        padding: 5px;
    }
    
}
@media (max-width: 600px){
    h1{
        font-size: 60px;
    }
    .MovieDetais{
        width: 90%;
        height: 80vh;
        overflow-y: scroll;
        
    }
    .centerInfo{
        display: flex;
        flex-direction: column;
    }
    .centerInfo a{
        display: flex;
        justify-content: center;
    }
    .centerInfo a span{
        width: auto;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 15px;
        text-align: center;
        color: #000;
        text-decoration: none;
    }
    .close {
        padding-right: 5px;
        
    }
    .close a {
        font-size: 35px;
        height: 35px;
    }
    .movie:hover {
        transition: 0.5s;
        transform: none;
        
    }



    
}
@media (max-width: 500px){
    h1{
        font-size: 50px;
    }

}
